body {
  background-color: #eaf2e3;
  color: #333;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.centrado-negrita-cursiva {
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color: #4caf50;
}

.mi-division {
  border: 2px solid #333;
  padding: 20px;
  background-color: #f9f9f9;
}

/* Estilo comentado */
/* 
.mi-division {
    border: 2px solid #333;
    padding: 20px;
    background-color: #f9f9f9;
}
*/

/* Estilos para la navegación */
nav {
  background-color: #4caf50;
  padding: 10px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 5px;
}
nav ul li a:hover {
  background-color: #2f8247;
}
/* Media Query para dispositivos móviles */
@media (max-width: 600px) {
  nav ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  nav ul li {
    flex: 1 1 auto;
    margin-right: 5px;
  }
}

/* Estilos para las imágenes */
img {
  display: block; /* Para eliminar el espacio adicional que algunos navegadores agregan a las img. */
  margin: 0 auto; /* Centrar las imágenes horizontalmente */
  max-width: 100%; /* Asegurar que las imágenes no excedan el ancho del contenedor */
  border: 3px solid #69bd45; /* Contorno de 3px con un color verde (#69bd45) alrededor de la img.*/
  border-radius: 10px; /* Borde redondeado de 10px para suavizar el contorno */
}

.imagenes-lado-a-lado {
  text-align: center; /* Centrar las imágenes dentro del div */
}

.imagen-lado-a-lado {
  display: inline-block; /* Colocar las imágenes una al lado de la otra */
  margin: 10px; /* Espaciado entre las imágenes */
  max-width: 30%; /* Asegurar que las imágenes no ocupen más del 30% del ancho cada una */
  vertical-align: middle; /* Alinear las imágenes verticalmente en el medio */
}

/* Estilo para el header */
header {
  background-color: #69bd45;
  color: #fff;
  text-align: center;
  padding: 20px;
}

section {
  padding: 20px; /* espaciado para la sección de 20 pixeles */
}

footer {
  background-color: #4caf50; /* Color de fondo del footer */
  color: #fff;
  padding: 20px 0;
}

.footer-content {
  max-width: 800px; /* Ancho máximo del contenido del footer */
  margin: 0 auto; /* Centrar el contenido del footer horizontalmente */
  text-align: center;
}

.redes-sociales {
  margin-bottom: 20px; /* Espaciado inferior para separar los iconos del texto del footer */
}

.icono-red-social {
  width: 40px; /* Tamaño de los iconos */
  height: 40px;
  margin: 0 10px; /* Espaciado entre los iconos */
  display: inline-block; /* Asegurar que los íconos se alineen horizontalmente */
  vertical-align: middle;
  transition: transform 0.3s ease; /* Transición suave para el efecto hover */
}

.icono-red-social:hover {
  transform: scale(1.2); /* Aumentar el tamaño del icono al pasar el mouse */
}
